@tailwind base;
@tailwind components;
@tailwind utilities;

.myCustomBtn {
  @apply btn btn-outline border-[#1b38ca] rounded-xl bg-white 
         hover:bg-white hover:text-black hover:border-[#1b38ca] hover:shadow-xl
         active:bg-[#1934bd] active:text-white;
  &:hover {
    box-shadow: 0 4px 15px rgb(207, 212, 226); 
  }
}
